<%- include("./partials/header") %>
<div class="container">
    <img src="/images/logoteste.png" alt="teste">
  </div>
  <div class="containner">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-primary">Pesquisar</button>
      <button type="button" class="btn btn-primary">Vender</button>
    </div>
    
  </div>
<%- include("./partials/footer") %>